.Register-page {
  background-image: linear-gradient(-90deg,#F45087 0%,#FF8B8B 100%)!important;
  height: 100vh;
}

.Registration-box {
  background-color: #ffffff;
  border-radius: 25px;
  padding: 4em;
  /* padding-bottom: 6em; */
}

.Registration-inner-box {
  max-height: 80vh;
  overflow-y: scroll;
}

.Registration-header {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 3vh;
  font-weight: bold;
  margin-bottom: 1em;
}

.Registration-error {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75vh;
  font-style: italic;
  margin-bottom: 1em;
  color: #F45087;
  text-align: justify;
  /* margin-left: 8em; */
  /* margin-right: 8em; */
}

.Regisration-logo-box {
  margin-top: 2em;
  margin-bottom: 2em;
}

.Register-gif {
  width: 100%;
}

.Registration-margin {
  margin-left: 4em;
  margin-right: 4em;
}

.Label-text {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  color: lightgray;
}

.Label-gray {
  color: lightgray;
}

.Max-box {
  overflow-y: scroll;
  max-height: 55vh;
}

/* -------------------- SUCCESS PAGE -------------------- */
.Success-header, .Success-paragraphs {
  display: block;
  margin-bottom: 1.25em;
}

.Success-header {
  text-transform: capitalize;
}

.Success-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75vh;
  margin-bottom: 1em;
  text-align: justify;
}

.Registration-header-success {
  font-family: 'Montserrat', sans-serif;
  /* text-align: center; */
  font-size: 3vh;
  font-weight: bold;
  margin-bottom: 1em;
  color: #F45087;
}

.Sincere-margin {
  margin-bottom: 2em;
}

@media only screen and (max-width: 600px) {
  .Registration-margin {
    margin-left: 1em;
    margin-right: 1em;
  }

  .Register-gif {
    width: 50%;
    margin-bottom: 1em;
  }

  .Registration-box {
    border-radius: 0px;
    padding: 1em !important;
  }
  
  .Registration-header {
    margin-bottom: 0.5em;
  }
}

@media only screen and (max-width: 1024px) {
  .Registration-margin {
    margin-left: 1em;
    margin-right: 1em;
  }

  .Register-gif {
    width: 50%;
    margin-bottom: 1em;
  }

  .Registration-box {
    padding: 4em;
  }
  
  .Registration-header {
    margin-bottom: 0.5em;
  }
}