.Register-page {
  background-image: linear-gradient(-90deg,#F45087 0%,#FF8B8B 100%)!important;
  height: 100vh;
}

.Registration-box {
  background-color: #ffffff;
  border-radius: 25px;
  padding: 4em;
  padding-bottom: 6em;
}

.Registration-header {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 4vh;
  font-weight: bold;
  margin-bottom: 1em;
}

.Registration-error {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75vh;
  font-style: italic;
  margin-bottom: 1em;
  color: #F45087;
  text-align: justify;
  /* margin-left: 8em; */
  /* margin-right: 8em; */
}

.Regisration-logo-box {
  margin-top: 2em;
  margin-bottom: 2em;
}

.Register-gif {
  width: 100%;
}

.Registration-margin {
  margin-left: 4em;
  margin-right: 4em;
}


@media only screen and (max-width: 600px) {
  .Registration-margin {
    margin-left: 1em;
    margin-right: 1em;
  }

  .Register-gif {
    width: 50%;
    margin-bottom: 1em;
  }

  .Registration-box {
    border-radius: 0px;
    padding: 1em !important;
  }
  
  .Registration-header {
    margin-bottom: 0.5em;
  }
}

@media only screen and (max-width: 1024px) {
  .Registration-margin {
    margin-left: 1em;
    margin-right: 1em;
  }

  .Register-gif {
    width: 50%;
    margin-bottom: 1em;
  }

  .Registration-box {
    padding: 4em;
  }
  
  .Registration-header {
    margin-bottom: 0.5em;
  }
}