.Privacy-paragraphs {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75vh;
  text-align: justify;
  margin-bottom: 1.25em;
}

.Privacy-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75vh;
  font-weight: bold;
  text-transform: capitalize;
}