<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
</head>

<body style="background:#ffffff !important; font-family: Georgia, 'Times New Roman', Times, serif;color:#000000">
  <style class="float-center" type="text/css"></style><span class="preheader"></span>
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-2195009-2', 'auto');
    ga('send', 'pageview');

    ga('create', 'UA-2195009-27', 'auto', {
      name: "foundation"
    });
    ga('foundation.send', 'pageview');

    ga('create', 'UA-2195009-47', 'auto', {
      name: "foundation_emails"
    });
    ga('foundation_emails.send', 'pageview');
  </script>
  <table class="body" style="background: #EAEAEA; padding: 10px; width: 100%;">
    <tbody>
      <tr>
        <td>
          <table class="body" style="background:#ffffff!important; width: 100%;">
            <tbody>
              <tr>
                <td align="center" class="center" valign="top">
                  <center data-parsed="">
                    <table align="center" class="container header float-center" style="width: 100%; background-image: linear-gradient(-90deg,#F45087 0%,#FF8B8B 100%); color:#ffffff; width: 100%;">
                      <tbody>
                        <tr>
                          <td>
                            <table class="row" style="width: 100%;">
                              <tbody>
                                <tr>
                                  <th class="small-12 large-12 columns first last">
                                    <table style="width: 100%;">
                                      <tbody>
                                        <tr>
                                          <th align="center">
                                            <center data-parsed=""><img align="center" class="float-center" style="height: 3.5em; width: 3.5em; margin-top: 1.5em;" src="https://firebasestorage.googleapis.com/v0/b/foodsaver-app.appspot.com/o/general%2Fdishkon-logo-600px-white-transparent3.png?alt=media&token=c4a74b94-8afc-4c28-aadc-b518f15e64d8" alt="logo"></center>
                                            <h1 class="text-center" style="color:#ffffff; margin-top: 0.25em; font-family: Helvetica Rounded;">Dishkon</h1>
                                          </th>
                                          <th class="expander"></th>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </th>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table align="center" class="container body-border float-center; width: 100%;">
                      <tbody>
                        <tr>
                          <td>
                            <table class="row">
                              <tbody>
                                <tr>
                                  <th class="small-12 large-5 columns first last">
                                    <table>
                                      <tbody>
                                        <tr>
                                          <th style="text-align: left;">
                                            <div style="color: #000000; font-size: 1.5em; margin-top: 1.5em; margin-bottom: 0.5em; text-transform: capitalize;">Hi {{name}},</div>
                                            <div style="color: #666666; font-size: 1em;line-height: 1.2;text-align: justify; margin-bottom: 1em; font-weight: normal; font-style: normal; font-stretch: normal; letter-spacing: normal;">Seperti yang disebutkan dalam email kami sebelumnya, kami mengundang kamu untuk bergabung dengan Grup Privat Whatsapp kami yang akan menjadi sarana komunikasi kami untuk memberi tahu kamu ketika ada makanan yang dapat kamu selamatkan dari partner kami di Jakarta dan kota-kota sekitar.</div>
                                            <div style="color: #666666; font-size: 1em;line-height: 1.2;text-align: justify; margin-bottom: 1em; font-weight: normal; font-style: normal; font-stretch: normal; letter-spacing: normal;">Jangan khawatir, hanya admin kami yang dapat memposting pesan di Grup sehingga smartphone kamu tidak akan dibanjiri dengan pesan dari Grup.</div>
                                            <div style="color: #666666; font-size: 1em;line-height: 1.2;text-align: justify; margin-bottom: 1em; font-weight: normal; font-style: normal; font-stretch: normal; letter-spacing: normal;">
                                              <a href={{{url}}} target="_blank" style="text-decoration: none;">
                                                <table class="row" style="background-color: #F45087; color:#ffffff; border-radius: 5px; padding: 0.75em;">
                                                  <tbody>
                                                    <tr>
                                                      <td>Daftar</td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </a>
                                            </div>
                                            <div style="color: #666666; font-size: 1em;line-height: 1.2;text-align: justify; margin-bottom: 1em; font-weight: normal; font-style: normal; font-stretch: normal; letter-spacing: normal;">FYI jangan bagikan email ini kepada orang lain karena ini adalah undangan pribadi untuk kamu karena tautan pendaftaran telat disesuaikan dengan email kamu yang terdaftar.</div>
                                            <div style="color: #666666; font-size: 1em;line-height: 1.2;text-align: justify; margin-bottom: 1em; font-weight: normal; font-style: normal; font-stretch: normal; letter-spacing: normal;">Kami sangat menantikan bertemu kamu di tim "Food Avengers" kami. Jika kamu memiliki pertanyaan atau saran untuk kami, silahkan hubungi kami.</div>
                                            <div style="color: #000000; font-size: 1em;line-height: 1.2;text-align: justify; font-weight: bold; font-style: normal; font-stretch: normal; letter-spacing: normal; margin-bottom: 0.25em;">Cheers,</div>
                                            <table style="margin-bottom: 2.5em;">
                                              <tbody>
                                                <tr>
                                                  <td>
                                                    <img align="center" class="float-center" style="border-radius: 50%; height: 3em; width: 3em; margin-right: 0.25em;" src="https://firebasestorage.googleapis.com/v0/b/foodsaver-app.appspot.com/o/general%2FPhoto%20MAS.jpg?alt=media&token=92790754-c827-45e4-8cc6-bfda7bdfd64b" alt="logo-fb">
                                                  </td>
                                                  <td>
                                                    <div style="color: #000000; font-size: 0.8em;line-height: 1.2;text-align: justify; font-weight: normal; font-style: normal; font-stretch: normal; letter-spacing: normal; margin-bottom: 0.1em">Marco Sumali</div>
                                                    <div style="color: #000000; font-size: 0.8em;line-height: 1.2;text-align: justify; font-weight: normal; font-style: normal; font-stretch: normal; letter-spacing: normal; margin-bottom: 0.1em">Chief Executive Officer</div>
                                                    <div style="color: #000000; font-size: 0.8em;line-height: 1.2;text-align: justify; font-weight: normal; font-style: normal; font-stretch: normal; letter-spacing: normal;"><a target="_blank" href="https://www.dishkon.co">https://www.dishkon.co</a></div>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </th>
                                          <th class="expander"></th>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </th>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </center>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="body" style="background: gainsboro; padding: 2.5em; width: 100%;">
    <tfoot>
      <footer>
        <tr align="center">
          <td>
            <div style="font-size: 2em; margin-bottom: 0.5em; text-transform: capitalize; color:#A5A5A5; font-family: Helvetica Rounded;">Dishkon</div>
          </td>
        </tr>
        <tr align="center">
          <td>
            <center data-parsed="">
              <a target="_blank" href="https://www.facebook.com/dishkon"><img align="center" class="float-center" style="height: 2em; width: 2em; margin-right: 1em;" src="https://firebasestorage.googleapis.com/v0/b/foodsaver-app.appspot.com/o/general%2Ffacebook-circular-logo-gray.png?alt=media&token=d1b247b2-e965-4724-ac7c-31eb8b9685b5" alt="logo-fb"></a>
              <a target="_blank" href="https://www.instagram.com/dishkon"><img align="center" class="float-center" style="height: 2em; width: 2em; margin-right: 1em;" src="https://firebasestorage.googleapis.com/v0/b/foodsaver-app.appspot.com/o/general%2Finstagram-logo-gray.png?alt=media&token=ca5cade5-980e-4c46-bd0c-a699d90f44f8" alt="logo-instagram"></a>
              <a target="_blank" href="https://twitter.com/dishkon"><img align="center" class="float-center" style="height: 2em; width: 2em;" src="https://firebasestorage.googleapis.com/v0/b/foodsaver-app.appspot.com/o/general%2Ftwitter-gray.png?alt=media&token=f4be6981-f2a3-4c20-976c-f9653bfb0396" alt="logo-twitter"></a>
            </center>
          </td>
        </tr>
      </footer>
    </tfoot>
  </table>
  <div style="display:none;white-space:nowrap;font:15px courier;line-height:0">&amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp;</div>
</body>

</html>